<%= render "shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      食材の期限を管理
    </h2>
  </div>

  <%# 商品一覧 %>
  <div class='foodracks-contents'>
    <h2 class='title'>食材リスト</h2>
    <ul class='foodracks-lists'>
      <% if user_signed_in? %>
        <% @food_racks.each do |food_rack|%>
            <% if current_user.id == food_rack.user_id%>
              <li class='list'>

                <%= link_to food_rack_path(food_rack.id),method: :get do %>
                <div class='foodracks-img-content'>
                  <%= image_tag food_rack.picture, class: "foodracks-img" %>

                  <%# <div class='sold-out'>
                    <span>Sold Out!!</span>
                  </div> %>
                </div>
                <div class='foodracks-info'>
                  <h3 class='foodracks-name'>
                    商品名:<%= food_rack.food_name %>
                  </h3>
                  <div class='foodracks-memo'>
                    メモ:<%= food_rack.memo %>
                    <br>保存場所:<%= food_rack.category.name %>
                    <br>賞味期限・消費期限:<%= food_rack.month.name %><%= food_rack.day.name %>
                    <%#<div class='star-btn'>
                      <%= image_tag "star.png", class:"star-icon" >
                      <span class='star-count'>0</span>
                    </div> %>
                  </div>
                </div>
                <% end %>
              </li>
            <% end %>
          <% end %>
      <% else %>
          <li class='list'>
            <%= link_to '#' do %>
            <%= image_tag "チキンラーメン.jpg", class: "food-img" %>
            <div class='food-info'>
              <h3 class='food-name'>
                食材を登録してください
              </h3>
              <div class='food-memo'>
                メモ:<%= "美味い" %>
                <br>保存場所:<%= "食材棚A" %>
                <br>賞味期限・消費期限:<%= "２月６日" %>
              </div>
            </div>
            <% end %>
          </li>
      <% end %>
    </ul>
  </div>
</div>
<%= link_to(new_food_rack_path, class: 'save-btn') do %>
  <span class='save-btn-text'>食材の追加</span>
  <%= image_tag 'tomato-4984619_1280.png' , size: '185x50' ,class: "save-btn-icon" %>
<% end %>
<%= render "shared/footer" %>