<div class="foodracks-contents">
  <header class="foodracks-header">
    <%= link_to root_path do %>
      <span class='logo-btn-text'>FOODS REMIND</span>
      <%= image_tag 'information-160948__480吹き出し.webp' , size: '185x50' %>
    <% end %>
  </header>
  <div class="foodracks-main">
    <h2 class="foodracks-title">食材の情報を入力</h2>
    <%= form_with(model:@food_rack,local: true) do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="img-upload">
      <div class="weight-bold-text">
        食材の写真
      </div>
      <div class="click-upload">
        <%= f.file_field :picture, id:"item-image" %>
      </div>
    </div>

    <div class="new-items">
      <div class="weight-bold-text">
        食材名
      </div>
      <%= f.text_area :food_name, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          メモ
        </div>
        <%= f.text_area :memo, class:"items-text", id:"item-info", placeholder:"商品の説明（100文字まで）（特徴、素材、定価、注意点など）例）やや辛い、国産、200円、賞味期限短い" ,rows:"7" ,maxlength:"100" %>
      </div>
    </div>

    <div class="items-detail">
      <div class="weight-bold-text">詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          保存場所
          <span class="indispensable1">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>

        <div class="weight-bold-text">
          賞味期限・消費期限
          <span class="indispensable1">必須</span>
        </div>
        <%= f.collection_select(:month_id, Month.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        <%= f.collection_select(:day_id, Day.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>
    </div>
    <div class="regist-btn-contents">
      <%= f.submit "食材を登録する" ,class:"regist-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
  </div>
  <% end %>
    <p class="inc">
      Foods Remind
    </p>
  </footer>
</div>