<%= render "shared/header" %>

<div class="food-show">
  <div class="food-box">
    <div class='item-img-content'>
      <%= image_tag @food_rack.picture ,class:"food-box-img" %>
    </div>
      <%= link_to '情報の変更', edit_food_rack_path, method: :get, class: "food-btn" %>
      <%= link_to 'ごみ箱へ', food_rack_path, method: :delete, class:'food-destroy' %>
      <%= link_to 'メインページへ', root_path, class:'food-destroy' %>
    <div class="food-explain-box">
      <span><%= "食材情報" %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-food">食材の名前</th>
          <td class="detail-value"><%= @food_rack.food_name %></td>
        </tr>
        <tr>
          <th class="detail-food">メモ</th>
          <td class="detail-value"><%= @food_rack.memo %></td>
        </tr>
        <tr>
          <th class="detail-food">保存場所</th>
          <td class="detail-value"><%= @food_rack.category.name %></td>
        </tr>
        <tr>
          <th class="detail-food">賞味期限・消費期限</th>
          <td class="detail-value"><%= @food_rack.year.name %><%= @food_rack.month.name %><%= @food_rack.day.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
    </div>
  </div>
  <div class="links">
    <% if @food_rack.previous.present? && current_user.id == @food_rack.user_id %>
      <%= link_to "前の食材", food_rack_path(@food_rack.previous), class: "prev-food-left-btn"%>
    <% end %>
    <% if @food_rack.next.present? && current_user.id == @food_rack.user_id%>
      <%= link_to "次の食材",food_rack_path(@food_rack.next), class: "next-food-right-btn" %>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>
