<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='logo-contents'>

    <%= link_to(root_path, class: 'logo-btn') do %>
      <span class='logo-btn-text'>FOODS REMIND</span>
      <%= image_tag 'information-160948__480吹き出し.webp' , size: '185x50' ,class: "logo-btn-icon" %>
    <% end %>
  </div>
  <div class='nav'>
    <ul class='lists'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.name, "#", class: "user-name" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録 ', user_registration_path, method: :post, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>